<launch>

    <arg name="frame_id" default="base_link" />

    <arg name="opencv_visualization" default="false" />
    <arg name="vis_occupancy_threshold" default="0.6" />
    <arg name="vis_mahalanobis_distance" default="6.0" />
    <arg name="vis_image_size" default="600" />

    <node pkg="dogm_ros" type="dogm_ros_node" name="dogm_ros_node" ns="dogm" output="screen" args="">
        <remap from="static_map" to="/grid_map" />
        <remap from="dynamic_map" to="/dynamic_map" />

        <!-- All distances and velocities are set in cells -->
        <param name="map/size" value="20.0" />
        <param name="map/resolution" value="0.1" />
        <param name="particles/particle_count" value="3000000" />
        <param name="particles/new_born_particle_count" value="300000" />
        <param name="particles/persistence_probability" value="0.99" />
        <param name="particles/process_noise_position" value="0.1" />
        <param name="particles/process_noise_velocity" value="0.1" />
        <param name="particles/birth_probability" value="0.02" />
        <param name="particles/velocity_persistent" value="50.0" />  <!-- stddev for new born particles -->
        <param name="particles/velocity_birth" value="50.0" />  <!-- max for initialization only -->

        <param name="frame_id" value="$(arg frame_id)" />

        <param name="opencv_visualization" value="$(arg opencv_visualization)" />
        <param name="vis_occupancy_threshold" value="$(arg vis_occupancy_threshold)" />
        <param name="vis_mahalanobis_distance" value="$(arg vis_mahalanobis_distance)" />
        <param name="vis_image_size" value="$(arg vis_image_size)" />
    </node>

</launch>
 
